<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>My Pet Care</span>
  </mat-toolbar-row>
</mat-toolbar>

<ng-template *ngIf="!arePetsObtained && user !== undefined">
  {{ getPets() }}
</ng-template>

<mat-sidenav-container>
  <mat-sidenav class="side" mode="side" opened [fixedInViewport]="false" [fixedTopGap]="0" [fixedBottomGap]="0">
    <mat-selection-list class="side" [multiple]="false">
      <mat-list-option *ngFor="let nav of navigationOptions; let actual = index"
                       (click)="selectNavigationOption(actual)">
        <span class="navText">{{ nav }}</span>
      </mat-list-option>
      <ng-template [ngIf]="!isLogin && navigationCustomOptions[selectedNavigation].length > 0">
        <mat-divider class="divisor"></mat-divider>
        <div mat-subheader class="navText">Options</div>
        <mat-list-option *ngFor="let customOption of navigationCustomOptions[selectedNavigation]; let actual = index"
                         (click)="selectCustomNavigationOption(actual)">
          <span class="navText">{{ customOption }}</span>
        </mat-list-option>
      </ng-template>
    </mat-selection-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-template [ngIf]="isLogin" [ngIfElse]="navigation">
      <div class="formGroup">
        <button type="button" class="btn googleBtn" (click)="doGoogleLogin()">
          <i class="fab fa-google-plus-g"></i>
          Log in with Google
        </button>
      </div>
    </ng-template>
    <ng-template #navigation [ngSwitch]="selectedNavigation">
      <div *ngSwitchCase="0">
        <ng-template *ngIf="arePetsObtained">
          <ng-template [ngIf]="selectedCustomOptionNavigation === 0" [ngIfElse]="registerPet">
            <mat-grid-list cols="3" rowHeight="3:1">
              <mat-grid-tile *ngFor="let pet of user.pets" [colspan]="1" [rowspan]="2">
                <mat-card class="pet-card">
                  <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{ pet.name }}</mat-card-title>
                    <mat-card-subtitle>{{ pet.breed }}</mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-content>
                    <p><span class="pet-field">Gender:</span> {{ pet.gender }}</p>
                    <p><span class="pet-field">Birth date:</span> {{ getDate(pet.birth) }}</p>
                    <p><span class="pet-field">Pathologies:</span> {{ pet.pathologies }}</p>
                  </mat-card-content>
                </mat-card>
              </mat-grid-tile>
            </mat-grid-list>
          </ng-template>
        </ng-template>
        <ng-template #registerPet>
          <div class="register-pet-form">
            <form [formGroup]="registerPetForm" (ngSubmit)="createPet(registerPetForm.value)">
              <p>
                <mat-form-field class="example-full-width">
                  <mat-label>Name</mat-label>
                  <input matInput id="name" type="text" formControlName="name">
                  <mat-error *ngIf="registerPetControl.hasError('required')">
                    Name is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </p>
              <p>
                <mat-form-field class="example-full-width">
                  <mat-label>Gender</mat-label>
                  <mat-select matInput id="gender" type="text" formControlName="gender">
                    <mat-option value="Male">Male</mat-option>
                    <mat-option value="Female">Female</mat-option>
                    <mat-option value="Other">Other</mat-option>
                  </mat-select>
                  <mat-error *ngIf="registerPetControl.hasError('required')">
                    Gender is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </p>
              <p>
                <mat-form-field class="example-full-width">
                  <mat-label>Birth date</mat-label>
                  <input matInput [matDatepicker]="picker" id="birth" type="text" formControlName="birth">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

              </p>
              <p>
                <mat-form-field class="example-full-width">
                  <mat-label>Breed</mat-label>
                  <input matInput id="breed" type="text" formControlName="breed">
                  <mat-error *ngIf="registerPetControl.hasError('required')">
                    Breed is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </p>
              <p>
                <mat-form-field class="example-full-width">
                  <mat-label>Pathologies</mat-label>
                  <input matInput id="pathologies" type="text" formControlName="pathologies">
                </mat-form-field>
              </p>
              <p>
                <button mat-raised-button color="primary">Create Pet</button>
              </p>
            </form>
          </div>
        </ng-template>
      </div>
      <div *ngSwitchDefault>
        Not implemented yet
      </div>
    </ng-template>
  </mat-sidenav-content>
</mat-sidenav-container>

