mat-toolbar-row {
  background: #0070C0
}

mat-sidenav-container {
  height: 500px;
}

mat-sidenav {
  width: 200px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0070C0;
}

mat-selection-list {
  color: white;
}

.side {
  background: #0389c7;
}

.navText {
  color: white;
}
